

h1 {
    text-align: center;
    background-color: yellow;
}

.navbar {

    background-color: gray;
    padding: 20px;
}
.header {

    background-color: black;
    color: blanchedalmond;
    text-align: center;
    padding: 20px;
}
